
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

@media (max-width : 600px) {
    
        .image_desktop{
            display: none;
        }
        body{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        
        .window_product{
            background: wheat;
            border-radius: 20px; 
            margin: 30px 10px 15px 10px;
            height: 850px;
            
        .image_mobile{
            max-width: 464px;
            border-radius: 15px 15px 0 0 ;
    
        }
        .description_resume{
            font-size: 1.5em;
        }
        }
        .div_text{
            display: flex;
            flex-flow: column wrap;
            padding: 15px 30px 0 30px;
            align-items: center;
        }
        .text_price{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .price_original{
            padding-top: 20px;
            text-decoration: line-through;
            margin-left: 20px;
        }
        .price_promo{
            font-size: 2em;
            color: darkcyan;
        }
        .button{
            background-color: darkcyan;
            border-radius: 8px;
            border: 0;
            padding: 5% 0 5% 0;
            color: white;
            width: 400px;
        }
        .btn_text{
            scale: 1.5;
        }
        svg{
            padding-right: 5px;
        }
        .description_product_name{
            font-weight: bold ;
        }
        h1{
            font-size: 2em;
        }
        h3{
            letter-spacing: 6px;
            text-transform: uppercase;
        }
    }


@media (min-width: 600px) {
        .image_mobile{
            display: none;
        }
        .image_desktop{
            width: 300px;
            border-radius: 20px 0 0  20px;
            margin-bottom: -4px;
        }
        .window_product{

            position: absolute;
            top: 25%;
            left: 25%;
            background: wheat;
            border-radius: 20px;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: center;

        }
        .div_text{
            display: flex;
            flex-flow: column wrap;
            padding: 0 20px 0 20px;
            width: 250px ;
        }
        .text_price{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .price_original{
            padding: 20px 0 0 20px; 
            text-decoration: line-through;
        }
        .price_promo{
            font-size: 2em;
            color: darkcyan;
        }
        .button{
            background-color: darkcyan;
            border-radius: 8px;
            border: 0;
            padding: 5% 0 5% 0;
            color: white;
            width: 240px;
        }
        svg{
            padding-right: 15px;
        }
        .description_product_name{
            font-weight: bold ;
        }
        h1{
            font-size: 2em;
        }
    }
